@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  font-family: 'Eudoxus Sans', sans-serif;
}

.gradient-01 {
  filter: blur(125px);
  background-image: linear-gradient(
    270deg,
    hsl(295deg 76% 51%) 0%,
    hsl(284deg 70% 73%) 26%,
    hsl(257deg 70% 86%) 39%,
    hsl(202deg 92% 90%) 50%,
    hsl(215deg 77% 81%) 61%,
    hsl(221deg 73% 70%) 74%,
    hsl(220deg 76% 51%) 100%
  );
}

.hero-gradient {
  background: linear-gradient(97.86deg, #a509ff 0%, #34acc7 53.65%, #a134c7 100%);
}

.gradient-02 {
  position: absolute;
  top: 0px;
  right: 0px;
  filter: blur(190px);

  background: #7aebfb;
  width: 200px;
  height: 438px;
}

.glassmorphism {
  -webkit-backdrop-filter: blur(4px);
  backdrop-filter: blur(4px);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  border: 1px solid rgba(255, 255, 255, 0.18);
  background: rgba(255, 255, 255, 0.25);
}

.gradient-03 {
  position: absolute;
  top: 5%;
  left: 20%;
  transform: rotate(-114.2deg);
  filter: blur(175px);

  background: rgba(149, 66, 232, 0.35);
  width: 404px;
  height: 800px;
}

.gradient-04 {
  position: absolute;
  top: 10%;
  left: 30%;
  transform: rotate(-53.13deg);
  filter: blur(200px);

  background: rgba(45, 72, 152, 0.75);
  width: 304px;
  height: 100vh;
}

.gradient-05 {
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.04) 0%, rgba(255, 255, 255, 0) 100%);
}

.feedback-gradient {
  position: absolute;
  top: 0px;
  left: 0px;
  filter: blur(175px);

  background: #8d39a3;
  width: 200px;
  height: 316px;
}

.footer-gradient {
  position: absolute;
  bottom: 0;
  left: 37%;
  filter: blur(150px);

  background: #65c4fa;
  width: 500px;
  height: 100px;
}
